@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    overflow-x: hidden;
}

header{
    background-color: #85CDF5;

    width: 100dvw;
    height: 12.5dvh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#headerLogo{
    width: 157.75px;
    height: 60.25px;
}

#search{
    background-color: #ffffff;

    width: 30%;
    height: 48px;
    border-radius: 10px;

    padding: 0px;


    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;


    color: #828282;
}
#search > input {
    width: 75%;
    height: 38px;

    border: none;
    outline: 0;

    margin:  0 0 0 20px;

    font-size: 1.1em;
}

.autocomplete-suggestions {
    background-color: #fff;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    top: 44px;
}
.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #ddd;
}





#search > img{
    width: 10%;
    aspect-ratio: 1/1;


    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 10px;
}
#search > img:hover{
    background-color: #82828250;
    
}
#search > img:active{
    background-color: #82828294;
    
}


#profile{
    background-color: #ffffff;

    width: 20%;
    height: 50px;


    display: flex;
    align-items: center;
}
#profile > .triangle{

    width: 0;
    height: 0;

    border: 25px solid;
    border-color: white white #85CDF5 #85CDF5;
}

#profile > .info{

    width: 85%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > .login{
    margin: 0 0 0 10px;
    display: flex;
    font-size: 0.7em;
    text-align: center;
    align-items: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.info > .login > img {
    width: 25%;
    aspect-ratio: 1/1;
    min-width: 40px;
}

#cart{
    width: 28%;
    min-width: 40px;
    position: relative;
    display: inline-block;


    margin: 0 30px 0 0;
}
#cart > img{
    width: 100%;
    aspect-ratio: 1/1;
}

#cartCounter{
    background-color: black;
    color: white;
    
    width: 20px;
    height: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: -10px;

    border-radius: 50%;
}




nav{
    background-color: #ACE1FF;


    width: 100dvw;
    height: 5dvh;


    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul{
    width: 40dvw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

nav a{
    color: black;
    text-decoration: none;
}
nav a.active{
    text-decoration: underline;
}


main{
    background-image: url('../img/background.png'); /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */

    width: 100dvw;
    height: fit-content;

}


.buttonsNavigator{
    width: 60dvw;
    height: 20dvh;
    margin: auto;


    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button > button{
    width: 90px;
    height: 90px;
    background: linear-gradient(180deg, #85CDF5 0%, #4E788F 100%);
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}
.button > button > img {
    width: 50px;
    aspect-ratio: 1/1;
}
.button >p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
}





.promotionsCarroussel{
    width: 90dvw;
    aspect-ratio: 1737/260;
    margin: auto;
    cursor: pointer;
}
.promotionsCarroussel > img{
    width: 100%;
    aspect-ratio: 1737/260;
}


.promotions{
    width: 90dvw;
    height: 25dvh;

    margin: auto;
    margin-top: 5dvh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
.news{
    width: 50%;

    display: flex;
    justify-content: space-between;
}
.news > img{
    width: 27%;
    aspect-ratio: 6/7;
    min-width: 124px;
}
.news > .resume{
    width: 60%;
    background-color: white;
    padding: 2% 5%;
    border: 1px solid black;
    border-radius: 48px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.resume h3{
    text-align: center;
}
.resume span{
    color: blue;
    text-decoration: underline;
}



.promotionImages{
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.promotionImages > .promotion{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}
.promotion > img{
    width: 40px;
    aspect-ratio: 1/1;
}
.promotion > p{
    font-weight: bold;
    text-align: end;
}





@media only screen and (max-width: 500px) {

    .promotions{
        flex-direction: column;
    }
    .promotions > .news{
        width: 90dvw;
        justify-content: center;
    }
    .promotionImages{
        width: 90dvw;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .promotion{
        justify-content: center;
    }
    #profile{
        margin: 0;

    }
    #headerLogo{
        margin: 0;
    }
    
}





@media (max-width: 550px) {

    #search> input::placeholder{
        color: transparent;
    }
    #search{
        width: 30%;
    }
    #profile p{
        display: none;
    }
}


@media (max-width: 620px) {

    .buttonsNavigator{
        padding-top: 2dvh;
        height: fit-content;
    }
}

@media (max-width: 750px) {
    .news img{
        display: none;
        
    }
    .news .resume{
        width: 70%;
    }
    .promotionsCarroussel{
        width: 100dvw;
    }
    #headerLogo{
        width: 100px;
        aspect-ratio: 1/1;
    }
    #search{
        width: 40%;
    }
    #profile{
        width: 30%;
    }
}

@media (max-width: 800px) {
    nav > ul{
        width: 80dvw;
    }
    .buttonsNavigator{
        width: 80dvw;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 900px) {
    .promotions{
        height: 30dvh;
    }
}
@media (max-width: 955px) {
    .news{
        width: 65%;
    }
    .promotion{
        width: 100%;
    }
}
@media (max-width: 1010px) {
    #profile > .triangle{
        border: none;
    }
    #profile > .info{
        width: 100%;
    }
}